/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-nov-2013, 19:30:29
    Author     : Sergio
*/

.carousel1 .item1 {
  height: 300px;
 
}

.carousel1 {
  margin-bottom: 0px;

  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  margin-top: 0;
}
.pags{
    color: #d58512;
    display: inline;
    margin: 0px;
    
}

.title{
    color: #d58512;
}
.producto{
    color: #d58512;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #d58512;
}

.descripcion{
    color: #777777;
}
